<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pineapple Menu</title>
    <link rel="stylesheet" media="all" href="/styles/styles.css">
</head>
<body>
<div th:fragment="PineappleMenu">
    <header>

        <div class="raw container">
            <div class="col-6">
                <div class="menu">
                    <a href="#">
                        <span>Menu</span>
                    </a>
                </div>
            </div>

            <div class="col-6 logo">
                <a href="#"><img src="images/CERNlogo.svg" alt="logo"></a>
            </div>

            <ul class="dropdown">
                <li><a th:href="@{/portfolio}">Portfolio</a></li>
                <li><a th:href="@{/pricing}">Pricing</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/gift}">Gift</a></li>
                <li><a href="#">Phone Number</a></li>
                <li><a th:href="@{/modelExchange}">Model X Photographer Trade</a></li>
            </ul>



        </div>
    </header>
<!--    <main>-->
<!--        <img src="images/wedding.JPG" alt="wedding">-->
<!--    </main>-->


    <script>

        document.querySelector(".menu").addEventListener("click", toggleMenu);
        let menuLink = document.querySelector(".menu a");
        let header = document.querySelector("header");


        function toggleMenu() {
            menuLink.classList.toggle("active");
            header.classList.toggle("black");
        }
    </script>
    <script th:if="${@environment.acceptsProfiles('dev','local')}" src="http://localhost:35729/livereload.js"></script>
</div>

<div th:fragment="slide-show">
    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img class="blank" id="slide-1" src="images/wedding.JPG" alt="wedding picture 2"/>
                <img class="blank" id="slide-2" src="images/wedding2.JPG" alt="wedding picture 2"/>
                <img class="blank" id="slide-3" src="images/wedding3.JPG" alt="wedding picture 3"/>
            </div>
            <!--        Remember to change body class-->
            <div class="slider-nav">
                <a class="blank" href="#slide-1"></a>
                <a class="blank" href="#slide-2"></a>
                <a class="blank" href="#slide-3"></a>
            </div>
        </div>

    </section>
</div>

<div th:fragment="footer">

    <footer class="footer">
        <div class="grid-container">
            <div class="grid-item">All Rights Reserved</div>
            <div class="grid-item">Sister Companies</div>
            <div class="grid-item">Please don't follow us on Instagram</div>
            <div class="grid-item">Corporate Picture Days</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>
        </div>
    </footer>
</div>


</body>
</html>